h1, h2{
        color: #C03B7A;
}
h3, h4{
        color: #703E8F;
}
.navbar{
        background-color: #141E4D;
        color: gray;
}
p{
        color: #141E4D;
}
footer{
        color: gray;
}
.jumbotron{
        padding: 7%;
        width: 100%;
        align-self: center;
}
.jumbotron{
        padding: 8%;
}
.container, .row{
        text-align: left;
        align-content: center;
        vertical-align: center;
}
.col-md-4, footer, .content, .posts, .countdown, .socialMedia{
        padding-left: 5%;
        padding-right: 5%;
        width: 100%;
        vertical-align: super;
}
hr{
        color: white;
}
.tag{
        background-color: #C03B7A;
}
.socialMedia{
  padding-left: 5%;
  padding-right: 5%;
}
.btn-red-social{
	padding: 2% 0;
	display: inline-block;
	min-width: 8%;
	border-radius: 5%;
	background: #757272;
	color: #fff;
	font-size: 175%;
	margin: 0 2%;
	transition: .3s ease all;
  text-align: center;
}
#cuenta{
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
  background-color: #eedd79;
  top: 0;
  left: 0;
  right: 0;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}
.simply-section{
  background-color: #eedd79;
  width: 15%;
  margin: 0 1%;
  border-radius: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #141E4D;
}
.simply-amount{
  display: block;
  color: #141E4D;
}
